::ng-deep .mat-progress-bar-fill::after {
  background-color: #ff6265;
}

::ng-deep .mat-progress-bar-buffer {
  background: #e4e8eb;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}
mat-card {
  margin-top: 10px;
  /* border: 1px solid #c2185b/; */
}
.home-left {
  position: sticky;
}
.profile-card h3,
p {
  margin-top: 15px;
  text-align: center;
}
.profile-pic img {
  border: 2px solid #ff6265;
}
hr {
  background-color: #ff6265;
}
a {
  text-decoration: none;
}
