mat-form-field {
  margin-right: 10px;
}
::ng-deep
  .mat-form-field-appearance-outline.mat-focused
  .mat-form-field-outline-thick {
  color: #ff6265 !important;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: #ff6265 !important;
}
